<VirtualHost *:{{ item.port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ item.name }}
   ServerAlias www.{{ item.name }}
   DocumentRoot /var/www/{{ item.name }}
   ErrorLog ${APACHE_LOG_DIR}/{{ item.name }}-error.log
   CustomLog ${APACHE_LOG_DIR}/{{ item.name }}-access.log combined
</VirtualHost>
